* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

a, a:link, a:visited {
    color: white;
    text-decoration: none;
    font-family: 'Truculenta', sans-serif;
}

#about {
    background-image: url("./images/about-bg.png");
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    min-height: 100vh;
    padding: 3em 1.5em;
}

#social-media {
    margin-top: 2em;
}

#about p {
    font-size: clamp(1rem, 0.2958rem + 2.2535vw, 1.2rem);
    font-family: 'Harmattan', sans-serif;
}

button {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Truculenta', sans-serif;
    font-size: 24px;
}

h1, h2, h3, h4 {
    color: white;
}

body {
    background-color: white;
    background-size: cover;
    display: flex;
    color: white;
    min-height: 100vh;
}

.landingBody {
    background-image: url("images/space-sea-background.png");
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: ". . ." ". header ." ". . .";
}

#hamburger {
    display: none;
}

header {
    grid-area: header;
}

nav > a:not(:first-child) {
    margin-top: 0.4em;
}

#hamburger {
    display: none;
}

header > div {
    background-image: url("images/landing-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.7rem, 0.2958rem + 2.2535vw, 1.8rem);
    background-color: #578D95;
    min-width: 280px;
    height: 100%;
    clip-path: none;
    padding-left: 1em;
    padding-top: 1em;
}

header > div > a > h1 {
    font-family: 'Wire One', sans-serif;
    margin-top: 0.5em;
}

header > div > nav {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
}

#portfolio-categories > ul.dashed {
    list-style-type: none;
    margin-left: 1em;
}
#portfolio-categories > ul.dashed > li {
    text-indent: -5px;
}
#portfolio-categories > ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
}

.landing > h1 {
    font-size: 128px;
    margin-top: 0em;
}

.landing > nav {
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5em;
}

.landing > nav > a:not(:first-child) {
    margin-top: 0em;
    padding-left: 1em;
}

main {
    grid-area: main;
}

#portfolio {
    padding: 2em 1.5em;
}

section:not(:first-child) {
    padding-top: 1em;
}

section {
    padding: 0.2em 1em;
    background: white;
    opacity: 0;
}

section > h2 {
    color: grey;
    font-family: 'Wire One', sans-serif;
    font-size: clamp(2rem, 0.2958rem + 2.2535vw, 3rem);
    margin-bottom: 1.2em;
}

article section {
    margin-bottom: 1.2em;
}

section > div {
    margin-top: 0.8em;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.chocolat-parent > a > img {
    height: 12vw;
    width: 12vw;
    object-fit: cover;
    border-radius: 4px;
    transition: all 0.3s;
} 

.chocolat-parent > a > img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}